<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chuck Norris</title>
  </head>
  <body>
    <div class="container">
      <h1><%=joke %></h1>
      <a href="/categories">
        <button type="button">Voltar para categorias</button>
      </a>
    </div>
  </body>
</html>
